<input matInput placeholder = {{placeholder}} [matDatepicker]="myDatepicker" (dateChange)="onChange($event)">
<mat-datepicker-toggle [for]="myDatepicker"></mat-datepicker-toggle>
<mat-datepicker #myDatepicker></mat-datepicker>