<main *ngIf="article$ | async; let article;" class="page article">
    <div class="content-container">
        <div class="media-container">
            <div *ngIf="article.Images !== undefined && article.Images.length === 1;" class="img-container"><img class="{{article.Images[0].Orientation}}" src="{{ blobURL + article.Images[0].Url}}" alt="" /></div>
            <app-carousel *ngIf="article.Images !== undefined && article.Images.length > 1" [content]="article" [carouselType]="'content'" [slideInterval]="'false'" ></app-carousel>
            <button class="btn btn-join gtm-join-article" data-toggle="modal" data-target="#SubscribeModal">Join Drool</button>
        </div>
        <div class="copy-container" [innerHTML]="
            '<h1>' + article.Title + '</h1>' + 
            '<p>' + article.DisplayDate + '</p>' +
            article.Body
            ">
        </div>
        <app-sharewidgets class="share-icon-container"></app-sharewidgets>
    </div>
    <div class="content-list-container">
        <app-content-list 
            [listType]="'article'" [contentList$]="contentList$"
            [loadAction]="loadAction" [appendAction]="appendAction"
        ></app-content-list>
    </div>
</main>