<app-email #email (keyUp)="validate($event)" [placeholder]="'email address'"></app-email>
<div class="clear">
    <app-btn *ngIf="isValid$" [classes]="'button btn btn-primary btn-lg btn-single'" [placeholder]="'Join Drool'" (click)='subscribe()'></app-btn>
    <app-btn *ngIf="!isValid$" [classes]="'button btn btn-primary btn-lg btn-single disabled'" [placeholder]="'Join Drool'" (click)='displayInvalidMessage()'></app-btn>
    <app-snack-bar #snackBar></app-snack-bar>
</div>