<main>
    <section class="hp-hero-wrapper">
        <div [ngClass]="'hero-copy ' + (isDesktop ? 'hide' : '')">
            <h1 class="text-uppercase">Welcome to Drool</h1>
            <p>Your daily drip of pet news, tips, tricks and need-to-know information.</p>
        </div>
        <div class="video-container" (click)="clicked()">
            <div *ngIf="videoClicked" class="video-cover"></div>
            <app-video-player *ngIf="isDesktop" 
            [videoID]="'hero'" [video$]="heroVideo$"
            [showControls]="true" [autoplay]="false" [loops]="true" [posters]="'https://cms.drool.pet/media/1221/img-hero-video-cover-1734x975.jpg'"
            ></app-video-player>
            <div [ngClass]="'scroll-icon far fa-arrow-alt-circle-down ' + (isDesktop ? 'hide' : '')"></div>
        </div>
    </section>
    <section class="hp-promo-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-6 promo-copy">
                    <h3>About Drool By Dr. Chris Brown</h3>
                    <p>Ever found it hard to find reliable, trustworthy information about your furry family? Well, here at Drool your pet's health and happiness is at the heart of everything we do. I created Drool to ensure that you and your passion for pets have a home.</p>
                    <img class="signature" src="https://cms.drool.pet/media/1222/img-chris-autograph-300x800.png" />
                    <p>If you'd like to hear from me from time to time join my mailing list to receive regular wrap-ups of my daily drips.</p>
                    <button class="btn btn-beige btn-lg gtm-join-home" data-toggle="modal" data-target="#SubscribeModal">Join Drool</button>
                    <!--<button class="btn btn-outline-white btn-lg">Vote for a Pet</button>-->
                </div>
                <div class="col-12 col-lg-6 video-container">
                    <div class="img-container"><img src="https://cms.drool.pet/media/1147/img-about-chrisbrown-1280x720_2.jpg" alt="Dr. Chris Brown with dogs" /></div>
                    <!--<app-video-player [videoID]="'promo'"></app-video-player>-->
                </div>
            </div>
        </div>
    </section>

    <app-content-list 
        [listType]="'homepage'"
        [contentList$]="articleAndVideoList$"
    ></app-content-list>

    <section class="hp-gallery-carousel">
        <h1>Explore the world of animals with Dr. Chris Brown</h1>

        <app-carousel [galleryList$]="galleryList$" [carouselType]="'homepage'" [slideInterval]="'false'"></app-carousel>

        <div class="btn-wrapper"><button class="btn btn-primary btn-lg" [routerLink]='["/galleries"]' >View all galleries</button></div>
    </section>
</main>