<main class="page information">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12 page-heading">
                <div class="heading-container">
                    <h1>Join Drool</h1>
                    <span class="divider-h"></span>
                </div>
                <p>Ever found it hard to find reliable, trustworthy information about your furry family? Well, here at Drool your pet's health and happiness is at the heart of everything we do. I created Drool to ensure that you and your passion for pets have a home.</p>
                <p>If you'd like to hear from me from time to time join my mailing list to receive regular wrap-ups of my daily drips.</p>
            </div>
            <div class="col-12 content-container">
                <form class="join-form">
                    <app-mailchimp-subscribe-form></app-mailchimp-subscribe-form>
                </form>
                <div class="join-page-share">
                    <h4 class="center">Share with a friend</h4>
                    <app-sharewidgets class="share-icon-container"></app-sharewidgets>
                </div>
            </div>
        </div>
    </div>
</main>