<div id="{{'carousel-' + carouselType}}" [ngClass]="'carousel slide carousel-' + carouselType" data-ride="carousel" [attr.data-interval]="slideInterval">
    <!-- Default Carousel - For use on gallery and article pages -->
    <ol *ngIf="carouselType == 'content'" class="carousel-indicators">
        <li *ngFor="let item of content.Images; let i = index;" [attr.data-target]="'#carousel-' + carouselType" data-slide-to="'i'" class="{{i == 0 ? 'active' : ''}}"></li>
    </ol>
    <div *ngIf="carouselType == 'content'" class="carousel-inner">
        <div *ngFor="let image of content.Images; let i = index;" [ngClass]="'carousel-item ' + ( i === 0 ? 'active' : '')">
            <div class="img-container"><img class="{{image.Orientation}}" src="{{blobURL + image.Url}}" alt="placeholder landscape" /></div>
        </div>
    </div>
    
    <!-- Homepage Carousel screen width <= 992 -->
    <div *ngIf="(isMobile$ | async) && carouselType == 'homepage'" class="carousel-inner row" role="listbox">
        <div *ngFor="let gallery of (galleryList$ | async) | slice:0:6; let i = index;" [ngClass]="'carousel-item ' + ( i === 0 ? 'active' : '')">
            <div class="album-wrapper col-12 col-lg-4">
                <a class="album-link" [routerLink]='[gallery.Url]'>
                    <div class="img-container"><img class="{{gallery.Images[0].Orientation}}" src="{{blobURL + gallery.Images[0].Url}}" alt="{{gallery.Location}}" /><span class="album-title">{{gallery.Title}}</span></div>
                </a>
            </div>
        </div>
    </div>  

    <!-- Homepage Carousel screen width > 992  -->
    <div *ngIf="!(isMobile$ | async) && carouselType == 'homepage'" class="carousel-inner row" role="listbox">
        <div *ngFor="let gallery of (galleryList$ | async) | slice:0:6; let i = index;" [ngClass]="'carousel-item ' + ( i === 0 ? 'active' : '')">
            <div *ngIf="(galleryList$ | async); let galleryList;" class="album-wrapper col-12 col-lg-4">
                <a class="album-link" [routerLink]='[galleryList[i].Url]'>
                    <div class="img-container"><img class="{{galleryList[i].Images[0].Orientation}}" src="{{blobURL + galleryList[i].Images[0].Url}}" alt="{{galleryList[i].Location}}" /><span class="album-title">{{galleryList[i].Title}}</span></div>
                </a>
            </div>
            <div *ngIf="(galleryList$ | async); let galleryList;" class="album-wrapper col-12 col-lg-4">
                <a class="album-link" [routerLink]='[galleryList[i + 1 > 5 ? 0 : i + 1].Url]'>
                    <div class="img-container"><img class="{{galleryList[i + 1 > 5 ? 0 : i + 1].Images[0].Orientation}}" src="{{blobURL + galleryList[i + 1 > 5 ? 0 : i + 1].Images[0].Url}}" alt="{{galleryList[i + 1 > 5 ? 0 : i + 1].Location}}" /><span class="album-title">{{galleryList[i + 1 > 5 ? 0 : i + 1].Title}}</span></div>
                </a>
            </div>
            <div *ngIf="(galleryList$ | async); let galleryList;" class="album-wrapper col-12 col-lg-4">
                <a class="album-link" [routerLink]='[galleryList[i + 2 > 5 ? i - 4 : i + 2].Url]'>
                    <div class="img-container"><img class="{{galleryList[i + 2 > 5 ? i - 4 : i + 2].Images[0].Orientation}}" src="{{blobURL + galleryList[i + 2 > 5 ? i - 4 : i + 2].Images[0].Url}}" alt="{{galleryList[i + 2 > 5 ? i - 4 : i + 2].Location}}" /><span class="album-title">{{galleryList[i + 2 > 5 ? i - 4 : i + 2].Title}}</span></div>
                </a>
            </div>
        </div>
    </div>
    
    <!-- Carousel Indicators -->
    <a class="carousel-control-prev gtm-carousel-click" role="button" data-slide="prev" onclick="$('#' + $(this).parent()[0].id).carousel('prev');">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next gtm-carousel-click" role="button" data-slide="next" onclick="$('#' + $(this).parent()[0].id).carousel('next');">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
