<form class="example-form" [formGroup]='searchForm'>
    <mat-form-field class="example-full-width">
        <input #matInput matInput placeholder="{{placeholder}}" [matAutocomplete]="auto" formControlName='searchInput'>
    </mat-form-field>
   
    <mat-autocomplete #auto="matAutocomplete">
        <mat-option *ngFor="let item of (searchResult$ | async)" [value]="item" (click)="onSelected(item)">
            <span *ngIf="(searchResult$ | async).length > 0">{{ item }}</span>
        </mat-option>
    </mat-autocomplete>
</form>