<form class="example-form" [formGroup]='searchForm'>
    <mat-form-field class="example-full-width">
        <input matInput placeholder="{{placeholder}}" [matAutocomplete]="auto" formControlName='searchInput'>
    </mat-form-field>
   
    <mat-autocomplete #auto="matAutocomplete">
        <!-- <mat-option *ngIf="isLoading" class="is-loading"><mat-spinner diameter="50"></mat-spinner></mat-option> -->
        <mat-option *ngFor="let item of searchResult" [value]="item.fullAddress" (onSelectionChange)="setPlaceId(item)">
            <span *ngIf="searchResult.length > 0">{{ item.fullAddress }}</span>
        </mat-option>
    </mat-autocomplete>
</form>