<div (click)="showFBDialog()" class="share-icon facebook-icon"></div>
<div (click)="showFBMessengerDialog()" class="share-icon messenger-icon"></div>
<div (click)="showTwitterDialog()" class="share-icon twitter-icon"></div>
<div (click)="showPinterestDialog()" class="share-icon pinterest-icon"></div>
<div (click)="showLinkedInDialog()" class="share-icon linkedin-icon"></div>
<div (click)="showEmailDialog()" class="share-icon email-icon"></div>
<div *ngIf="!isDesktop" (click)="showSMSDialog()" class="share-icon sms-icon"></div>