<main *ngIf="gallery$ | async; let gallery;" class="page gallery">
    <div class="content-container">
        <div class="media-container">
            <app-carousel [content]="gallery" [carouselType]="'content'" [slideInterval]="'false'"></app-carousel>
            <button class="btn btn-join gtm-join-gallery" data-toggle="modal" data-target="#SubscribeModal">Join Drool</button>
        </div>
        <div class="copy-container">
            <h1>{{gallery.Title}}</h1>
            <p><strong>Album: </strong>{{gallery.Album}}</p>
            <p><strong>Location: </strong>{{gallery.Location}}</p>
            <p><strong>Photographed by: </strong>{{gallery.Author}}</p>
        </div>
        <app-sharewidgets class="share-icon-container"></app-sharewidgets>
    </div>
    <div class="content-list-container">
        <app-content-list 
            [listType]="'gallery'" [contentList$]="contentList$"
            [loadAction]="loadAction" [appendAction]="appendAction" 
        ></app-content-list>
    </div>
</main>