<main class="page section">
    <app-content-list 
        [listType]="'video-l'" [listTitle]="'Videos'" [contentList$]="contentList$"
        [loadAction]="loadAction" [appendAction]="appendAction" 
    ></app-content-list>
</main>