<main class="page information">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12 page-heading">
                <div class="heading-container">
                    <h1>Privacy Policy</h1>
                    <span class="divider-h"></span>
                </div>
                <p class="last-updated">Last Updated on 1 January 2019</p>
            </div>
            <div class="col-12 content-container">
                <h5>Summary</h5>
                <ol start="1" type="1">
                    <li>This Privacy Policy is published by Cenozoic Ventures Pty Ltd t/as Drool by Dr. Chris Brown (ABN 22 612 520 617) which includes our related companies ("<strong>we/us/our</strong>"). Our contact details are: <a href="mailto:contact@drool.pet">contact@drool.pet</a></li>
                    <li>Our Privacy Policy explains how we handle your personal information. Your privacy is very important to us. Our Privacy Policy describes our practices in relation to information collected through all of our Drool services including advertising services, competitions and surveys, content sharing, websites, mobile sites, and applications ("<strong>Services</strong>").</li>
                    <li>Definitions used in this Privacy Policy:
                        <ol type="a">
                            <li>"<strong>Advertisers</strong>" mean the businesses who advertise or promote their business on our Platforms.</li>
                            <li>"<strong>Platforms</strong>" means our website and other e-commerce technology including apps and mobile telephone platforms.</li>
                        </ol>
                    </li>
                </ol>
                <ol start="4" type="1">
                    <li>This Privacy Policy applies to all persons who interact with us, including our Drool community members, Advertisers, everyone who visits or uses our Platforms, anyone else who uses any of our services and our suppliers. This Privacy Policy applies to our collection and use of your personal information. By using our services and/or visiting our website, you agree to the terms and conditions of this Privacy Policy.</li>
                    <li>We will manage your personal information in an open and transparent way. We have commercially acceptable internal processes and controls in place to ensure that any personal information is stored securely in our various systems across our network.</li>
                    <li>This Privacy Policy may be amended from time to time. Please look at the Last Updated date at the top of this Privacy Policy as published on our website.</li>
                    <li>Our Privacy Policy sets out the following:
                        <ol type="a">
                            <li>the kinds of personal information that we collect and hold;</li>
                            <li>how we collect and hold personal information;</li>
                            <li>the purposes for which we collect, hold, use and disclose personal information;</li>
                            <li>how you may access your personal information that is held by us and seek the correction of that information;</li>
                            <li>how you may complain about a breach of the Australian Privacy Principles or the New Zealand Information Privacy Principles and how we will deal with complaints;</li>
                        </ol>
                    </li>
                </ol>
                <ol start="8" type="1">
                    <li>Our Privacy Policy has been prepared having regard to Australian and New Zealand privacy laws. We may disclose personal information to recipients in New Zealand, subject to the terms of this Privacy Policy. We do not disclose personal information to any other overseas recipients.</li>
                </ol>
                <h5>What kinds of personal information do we collect and hold?</h5>
                <ol start="9" type="1">
                    <li><strong>Drool member account information</strong> - is the information you provide to us by registering as an Drool member with us.</li>
                    <li>We collect basic personal information that includes your name, age, address and email address. We may also collect additional personal information which you provide to us in the course of your Drool member relationship with us, including when you communicate with us in chat areas.</li>
                    <li>If you make enquiries about our Services we may collect some or all of the same personal information and your telephone number.</li>
                    <li><strong>Survey information</strong> - from time to time we may survey our Drool members to assist us in planning and delivering better Services. The provision of this information will be voluntary and our intended use will be clearly identified at the time of collection.</li>
                    <li><strong>Information from 3rd party social media</strong> - we also use social media channels such as Facebook ("social media") to distribute news, announcements, promotions, blogs and to address Services enquiries. If you submit or post comments, images, recordings or other personal content for public display on social media, or on our website, that information may be available for anyone in the world to read/view/comment on. We encourage you to read the separate social media privacy policies which relate to social media use. We are not responsible to you for the information handling practices of social media.</li>
                    <li>If you access or log in to our Services via social media or connect our Services to social media, the personal information we collect may also include your user ID and/or user name associated with the social media, any information or content you have elected to share on the social media with us, such as your name, age, date of birth, gender, profile picture, email address, followers or friends lists and any other information which you have disclosed or posted in connection with that social media. We do not collect any passwords except in relation to our own Services. When you access our Services through social media or when you connect our services to social media, you are authorising us to collect, store and use that information and content in accordance with this Privacy Policy.</li>
                    <li><strong>Cookies and other technologies</strong> - when you use and interact with us via our website, we may collect certain information about your use. For example, our servers may log details about any computer that you use to access our website as well as behavioural information about you in relation to what content you view. In addition, our website may store cookies on the web browser of your computer to better serve you upon subsequent visits to our website. Cookies are data that a website transfers to an individual’s hard drive for record-keeping purposes. Cookies can facilitate a user’s ongoing access to and use of a site. Cookies allow us to track usage patterns and compile data that can help us improve our content and Services. The types of information that cookies can collect includes information about your computer, device, browser, potentially your IP address, and other software or hardware.</li>
                    <li>If you use our website or our Services from a mobile or other device, we may collect a unique device identifier, geolocation data and other transactional information from that device. We also use Google analytics products.</li>
                    <li><strong>Information from other sources</strong> - we may add to the information we collect with information from other sources, such as commercially available sources (including publicly available information published on the Internet), as well as information from our Advertisers.</li>
                    <li><strong>Employment information</strong> - we may also collect personal information if you apply for a job with us. The personal information may be collected directly from you or from a recruitment agency that we engage, your previous employers and other people (including people who provide references), to help us make a decision in relation to whether to employ you. This Privacy Policy does not apply to our practices which are exempt from either Australian and NZ privacy laws, if they are directly related to our current or former employees and employment records held by us.</li>
                    <li><strong>Commercial contract information</strong> - we may collect personal information from our Advertisers, suppliers and other 3rd parties and their staff who enter into contracts with us. Those 3rd parties may include internet service providers, utility providers and others. Generally, we will state why we are collecting personal information and how we plan to use it, or these things will be obvious when we collect the personal information.</li>
                    <li>We do NOT actively collect or hold, nor do we need to know any sensitive (personal) information (such as personal information about your racial or ethnic origin, health information, political opinions, membership of a political association, professional or trade association or trade union, religious beliefs or affiliations, philosophical beliefs, sexual orientation or practices, criminal record, genetic information, biometric information or biometric templates).</li>
                    <li>We ask that you do NOT send us or disclose to us any of your sensitive information. If you do however, you consent to us collecting and holding that sensitive information in accordance with this Privacy Policy.</li>
                    <li>We do NOT collect or use any government related identifiers (e.g. tax file numbers, driver’s license details, IRD numbers, bank account and passport details).</li>
                </ol>
                <h5>How do we collect and hold personal information?</h5>
                <ol start="23" type="1">
                    <li>We collect personal information via email, online live chat, telephone, our Platforms, facsimile, mail and any of the other means we have already referred to. We hold copies of any correspondence that passes between us.</li>
                    <li>We store most of your personal information on servers which are housed in 3rd party owned data centres, which are secure environments with 24 hour surveillance. The 3rd parties who own the data centres do not have access to our servers which are housed in them. Access to our servers is restricted to our authorised staff only. We have computer and network security and any attempted access to your personal information by non staff members is protected by login and password. No method of transmission over the internet, or method of electronic storage is 100% secure however. Therefore, while we strive to use commercially acceptable means to protect your information, we cannot guarantee its absolute security.</li>
                    <li>We maintain physical security over our hard copy and electronic data, such as locks and security systems. We also maintain computer and network security, for example, by using firewalls and other security systems such as user identifiers and passwords to control access to our computer system.</li>
                </ol>
                <h5>What purposes do we collect, hold, use and disclose personal information for?</h5>
                <ol start="26" type="1">
                    <li>We collect, hold and use your personal information for the following purposes.</li>
                    <li><strong>To supply our Services and to conduct our business operations</strong> - we collect and use your personal information for the following purposes:
                        <ol type="a">
                            <li>the supply of our Services;</li>
                            <li>to measure and improve our Services and our Platforms. That includes improving your experience with our online and off-line Services by delivering content to you that we believe you are likely to find relevant and interesting. It may also include using your information for research and data analysis by us and our service providers;</li>
                            <li>communicating with you in connection with your Drool membership, member service issues, Advertiser account information and Advertiser service issues;</li>
                            <li>internal management and administrative purposes; and</li>
                            <li>marketing and promotional purposes in connection with our Services. That includes advertising and marketing messages (which may include the display of personalised content and advertising) and to participate in competitions and surveys. Competitions and surveys are conducted by our Advertisers and are subject to their privacy policies.</li>
                        </ol>
                    </li>
                </ol>
                <ol start="28" type="1">
                    <li><strong>To our contracted 3rd party service and content providers</strong> - we may also disclose your personal information to 3rd party service and content providers that we engage to help us to help us provide and manage our Services including to process payments, website hosting service providers, data cloud services, electronic communication providers and data analysis. We take reasonable steps that your personal information is only disclosed for the services/purposes we require and to the extent necessary to supply our Services.</li>
                    <li><strong>To share social media information</strong> - if you log in with or connect a social media account with our Services, we may share your user name, picture, likes and preferences, as well as any other of your activities and comments, with other users of our Services, and your friends who are linked to your social media account and with the social media provider. If you do not want your personal information shared in this way, you should not connect your social media account with our Services and you should not participate in social media sharing of your personal information.</li>
                    <li><strong>To our Advertisers</strong> - we may also disclose your personal information to our Advertisers for other purposes, for example competitions, surveys and promotions run by the relevant Advertiser. However we will only do this if specifically disclosed.</li>
                    <li>We may also share your personal information with our Advertisers to run joint promotions or provide co-branded services. Their use of your information will be governed by their Privacy Policies. We will let you know when this occurs.</li>
                    <li>We may share your personal information with our Advertisers. We, or they may also, (in addition to any of the other uses described in this Privacy Policy or permitted at law), use your personal information to assist us and our Advertisers to communicate with you (via any form of media) in relation to our Services and promotions and to also display personalised content and advertising to you through sharing information collected through the use of cookies and other tracking technologies referred to above.</li>
                    <li>If we disclose your personal information to a third party, we will take reasonable steps to require that the third party only use, store or disclose your personal information which is consistent with this Privacy Policy. However, we cannot guarantee that the third party will not use your personal information for any other purpose. The third party’s use of your information will be governed by the third party’s Privacy Policy.</li>
                    <li><strong>To sell our business, assets or participate in a merger</strong> - if we sell some or all of our business or any assets forming part of our business, or we are otherwise involved in a merger of all or a part of our business, you agree that we may transfer to the other party(s) involved in the transaction, your personal information. We may also disclose your personal information to other parties as part of any due diligence process in connection with transactions of this nature, or in connection with the sale of shares in our company.</li>
                    <li>You expressly consent to us using your personal information for all of these purposes.</li>
                    <li>Other than as set out above or as required or permitted by law, we do not disclose your personal information we collect to third parties. That includes for the purpose of allowing third parties to direct market their products and services, unless you agree to us doing so on an "opt in" basis.</li>
                    <li><strong>Financial information</strong> - If you contract with us to advertise or promote/list your business, we may collect financial information from you. All financial information is supplied directly by you to our merchant payment provider and is subject to its security measures and Privacy Policy.</li>
                    <li><strong>Opting out</strong>:
                        <ol type="a">
                            <li>You may at any time, request to "opt out" of receiving any marketing or promotional material from us.</li>
                            <li>If you want to stop receiving promotional materials, you can follow the unsubscribe instructions at the bottom of each email.</li>
                            <li>If you have linked any of your social media accounts to your account with us, then you can cancel that link by changing your account settings.</li>
                            <li>If you don’t want information collected through the use of cookies, there is a simple procedure in most browsers that allows you to enable or disable the cookie feature. If you need any assistance with changing your account settings, please contact our Privacy Officer.</li>
                        </ol>
                    </li>
                </ol>
                <ol start="39" type="1">
                    <li><strong>Third party content</strong> - our Platforms contains content and advertisements from third parties including our Advertisers, and/or links to other websites and platforms. Some of these websites and Platforms may be co-branded with our logo, even though they may not be operated or maintained by us or on our behalf. These sites may collect personal information from you that may be shared with us. This Privacy Policy will apply to any personal information we obtain in that way.</li>
                    <li>These other sites and third parties may use their own cookies and similar technologies to collect data or solicit information from you. We are not responsible for the privacy practices, policies or the content of those third party websites and platforms. We encourage you to read the posted privacy policies of any website you encounter to learn more about the privacy practices of that website. However, we do not have access to or control of the cookies that may be set by a third party on their platforms and this Privacy Policy does cover the use of cookies by any third party.</li>
                </ol>
                <h5>How do you access, update or obtain personal information that we hold about you?</h5>
                <ol start="41" type="1">
                    <li>You may ask us to confirm whether we hold personal information about you, and if we do, to provide you with access to the personal information that we hold about you unless there is an exception which applies under the applicable Australian or New Zealand privacy laws. If we refuse to provide you with access to your personal information, we will provide you with reasons for the refusal.</li>
                    <li>We will provide the requested personal information in a reasonable time. We will take reasonable steps to correct any of your personal information that you can establish is not accurate, complete, up-to-date or relevant.</li>
                    <li>If you need to update your Drool member details (e.g. name, address, etc.), you can access your account details via our website.</li>
                    <li>If we no longer need your personal information to finalise any outstanding matters, you can notify us via email at <a href="mailto:contact@drool.pet">contact@drool.pet</a> and we will, subject to our legal and contractual obligations, take reasonable steps to destroy or de-identify your personal information.</li>
                    <li>However, even if you no longer use any of our Services, some of your personal information may still be seen by others, for example where you have shared information via social media.</li>
                </ol>
                <h5>How do we handle a complaint as it relates to the Australian Privacy Principles?</h5>
                <ol start="46" type="1">
                    <li>If you require further information or you have a complaint about our Privacy Policy or the manner in which we collect, handle, use or disclose your personal information, please contact us at <a href="mailto:contact@drool.pet">contact@drool.pet</a>.</li>
                    <li>Our complaints process is:
                        <ol type="a">
                            <li>We will use our best endeavours to resolve your complaint within 30 days of receipt of your complaint.</li>
                            <li>We will advise you of the outcome of our investigative process into your complaint including what you can do.</li>
                            <li>If your complaint cannot be resolved satisfactorily within 30 days of receipt of the complaint and there is no timely prospect of the complaint being resolved, you may submit your complaint to the Office of the Australian Information Commissioner or the New Zealand Office of the Privacy Commissioner.</li>
                        </ol>
                    </li>
                </ol>
                <ol start="48" type="1">
                    <li>There will be no charges associated with handling the complaint.</li>
                </ol>
            </div>
        </div>
    </div>
</main>