<main class="page information">
		<div class="container-fluid page-container">
			<div class="row">
				<div class="col-12 page-heading">
					<div class="heading-container">
						<h1>Success!</h1>
						<span class="divider-h"></span>
					</div>
					<p>Dr. Chris thanks you for registering you and your pet with Drool.</p>
				</div>
				<div class="col-12 content-container refer-a-friend">
					<h4>Invite your friends</h4>
					<p>Enter the emails of 3 of your friends below to invite them to join Drool too.</p>		
                    <form class="refer-form mx-auto">
                        <div class="row">
                            <div class="form-group col-12">
                                <app-email #email1 (keyUp)="setEmail1($event)" [placeholder]="'Enter email'"></app-email>
                            </div>
                            <div class="form-group col-12">
                                <app-email #email2 (keyUp)="setEmail2($event)" [placeholder]="'Enter email'"></app-email>
                            </div>
                            <div class="form-group col-12">
                                <app-email #email3 (keyUp)="setEmail3($event)" [placeholder]="'Enter email'"></app-email>
                            </div>
                        </div>
                        <app-btn *ngIf="isValid$" [classes]="'btn btn-primary btn-lg btn-single btn-submit gtm-refer-submit'" [placeholder]="'Invite your friends'" (click)='referToFriends()'></app-btn>
                        <app-btn *ngIf="!isValid$" [classes]="'btn btn-primary btn-lg btn-single btn-submit gtm-refer-submit disabled'" [placeholder]="'Invite your friends'" (click)='displayInvalidMessage()'></app-btn>
    
                        <app-snack-bar #snackBar></app-snack-bar>
                    </form>
					<h4>Or share this page on social media</h4>
					<app-sharewidgets class="share-icon-container"></app-sharewidgets>
				</div>
			</div>
		</div>
	</main>

