<main class="page information">
    <div class="container-fluid page-container">
        <div class="row">
            <div class="col-12 page-heading">
                <div class="heading-container">
                    <h1>Terms &amp; Conditions</h1>
                    <span class="divider-h"></span>
                </div>
                <p class="last-updated">Last Updated on 1 January 2019</p>
            </div>
            <div class="col-12 content-container">
                <h5>Welcome to the Drool website.</h5>
                <p>These are our terms and conditions for use of our Platforms. These terms and conditions apply to everyone who visits and uses our Platforms or submits content for use on our Platforms. These terms and conditions form an agreement between us.</p>
                <p>These terms and conditions may be amended from time to time. Please look at the Last Updated date at the top of these terms and conditions as published on our website.</p>
                <h5>Definitions</h5>
                <ol type="1" start="1">
                    <li>Definitions used in these T&amp;C:
                        <ol type="a">
                            <li>"<strong>Advertisers</strong>" means the businesses who advertise or promote their business on our Platforms.</li>
                            <li>"<strong>Platforms</strong>" means our website and other e-commerce technology including apps and mobile telephone platforms.</li>
                            <li><strong>you/your</strong> means a user of our Platforms.</li>
                            <li><strong>we/our/us</strong> means Cenozoic Ventures Pty Ltd t/as Drool by Dr. Chris Brown (ABN 22 612 520 617) and includes our related companies.</li>
                        </ol>
                    </li>
                </ol>
                <h5>Drool member accounts</h5>
                <ol start="2" type="1">
                    <li>If you would like to become a member of the Drool community, you will need to open a member account with us. Please see our <a [routerLink]='["/privacy"]'>Privacy Policy</a> in relation to how we collect, hold and use your personal information.</li>
                    <li>You are responsible for when and how your Drool member account with us is used. You must keep your account information (including contact details and emails) accurate and up to date. You must keep your passwords and log-in details secure, and not share them with anyone. We are not responsible for any unauthorised access to your account.</li>
                    <li>We recommend that you use a strong password for your Drool member account. That is a password that uses a combination of upper and lower case letters, numbers and symbols.</li>
                    <li>If you breach any of these terms and conditions, we reserve the right to suspend or terminate your Drool member account and to prevent you from using our Platforms in the future.</li>
                </ol>
                <h5>Access to our Platforms</h5>
                <ol start="6" type="1">
                    <li>We try our best to ensure that you can access our Platforms, 24 hours a day, 7 days a week, except for upgrades and maintenance times. However, we cannot promise that access to our Platforms, or their functionality will be uninterrupted or error-free, or that our Platforms or our server(s) which store and transmit content, are free of viruses or other harmful components, or are completely secure.</li>
                    <li>You acknowledge that you may experience interruptions and access difficulties from time to time and that given the nature of IT systems, our Platforms may be interfered with by numerous factors outside our control (including our reliance on third party systems and services such as internet service providers and cloud service providers). We will take reasonable steps to fix defects in our Platforms, within a reasonable time of you giving us details.</li>
                    <li>We will take reasonable commercial steps to maintain security in respect of our Platforms and any content and data which you submit to us ("content"). However, we do not guarantee the security of our Platforms or your content.</li>
                    <li>We will do our best to perform all scheduled maintenance at times which will affect the fewest number of our Drool members and Advertisers. Generally, we will post details of any scheduled maintenance to our website in advance.</li>
                </ol>
                <h5>Your obligations</h5>
                <ol start="10" type="1">
                    <li>You are solely responsible for your use of our Platforms and any data and content that you submit to our Platforms. You use our Platforms at your own risk.</li>
                    <li>You must not submit any content or information to us that may contain any hidden images or code, any malicious code, data or set of instructions that intentionally or unintentionally causes harm or adversely affects the intended function of our Platforms including, viruses and other computer programming/software routines that may damage, modify, delete, interfere with, intercept or access any system, data or personal information without our permission.</li>
                    <li>You must notify us immediately of any unauthorised use of your Drool member account.</li>
                    <li>You must not interfere or attempt to interfere with our Platforms using any software program, routine or other activity.</li>
                    <li>You must not attempt to gain unauthorised access to our Platforms, computer systems or networks or to any of the services we supply, through hacking, password mining or any other means.</li>
                    <li>You must not copy, reproduce, modify, re-publish, upload to a third party, transmit, post or distribute the contents of our Website, electronically or otherwise without our express permission. However, strictly on the condition that you keep all content intact and in the same form as presented on our Website, you may, using an industry-standard web browser, download and view the content for personal, non-commercial use only.</li>
                    <li>You must not commercialise any content or goods obtained from our Platforms without our written permission.</li>
                    <li>As a condition of your use of our Platforms, you agree that you will not use any of our Platforms:
                        <ol type="a">
                            <li>for any unlawful purpose or any other purpose which is prohibited by these terms and conditions;</li>
                            <li>in a way that stores, sends or distributes any content which is restricted, prohibited, or is otherwise unlawful under any applicable law;</li>
                            <li>to submit any content that is obscene, defamatory, offensive or abusive;</li>
                            <li>to violate a person's privacy or misuse any person's confidential information;</li>
                            <li>to infringe any person's rights (including intellectual property rights and moral rights);</li>
                            <li>that would result in an excessive load being generated on our servers, network, or other resources;</li>
                            <li>on order to access anyone else's systems, networks or data without consent, regardless of whether or not that access or use has any adverse effect on the system, network, or data;</li>
                            <li>in a way that uses or distributes any software designed to harvest email addresses;</li>
                        </ol>
                    </li>
                </ol>
                <h5>Submitting content</h5>
                <ol start="18" type="1">
                    <li>Our Platforms contain chat areas and other messaging and communication facilities that are designed to let you communicate with us and share your thoughts and opinions with others.</li>
                    <li>Any content that you submit, post or display on our Platforms can be viewed by the general public. You therefore need to make sure that you only submit content to us that you are comfortable sharing with others.</li>
                    <li>All content which is submitted to us, is the responsibility of the person who submits it. We may not check all content which is submitted and we are not responsible for it. We do not endorse or support or promise that any content which is submitted is complete, truthful, accurate or reliable. We do not endorse any opinions by other people that are submitted to us. That includes opinion pieces and feature articles by our Advertisers and others.</li>
                    <li>You are solely responsible if you rely on any content that is submitted to us and is posted on our Platforms. You use and rely on that content at your own risk.</li>
                    <li>We reserve the right not to use or post any content that you submit. We also reserve the right to change or remove any content at any time.</li>
                    <li>When you submit content to us, you retain your rights in relation to it, however you grant us a perpetual, worldwide, non-exclusive royalty-free licence to use publish, reproduce, copy, adapt and modify that content. You also agree that we can make your content available to our Advertisers on the same basis. No compensation will be paid for any content that you submit.</li>
                    <li>You promise that you own or licence all necessary rights in the content that you submit. That includes copyright. You agree that you waive any moral rights of you may have in the content that you submit.</li>
                </ol>
                <h5>Third party content and links</h5>
                <ol start="25" type="1">
                    <li>Our Platforms include third party content which is owned and/or subject to that third party's terms and conditions of use. That includes the content which is published on our Advertisers' websites and platforms. Please note that you are not granted any licence or right to use that third party content.</li>
                    <li>Our Platforms also include links to third party sites which are not related to us, including to the websites and platforms of our Advertisers. These links have been provided only as a convenience to you.</li>
                    <li>We do not control the content of any linked sites, any changes or updates to those linked sites or the terms of use of those linked sites. Your use of those linked sites is solely your responsibility. We do not endorse the content of any linked sites.</li>
                </ol>
                <h5>Intellectual property and content on our Platforms</h5>
                <ol start="28" type="1">
                    <li>All intellectual property in relation to content which we place on our Platforms (other than content which you submit to us) is either owned or licensed by us or is owned or licensed by our Advertisers. That includes all logos and trademarks. You do not obtain any interest in that intellectual property.</li>
                    <li>All content which we place on our Platforms is provided in good faith and is believed to be appropriate, accurate and reliable. However, we do not guarantee the accuracy of the content which we place on our Platforms. That includes information in relation to our Advertisers. It also includes any maps which we display on our Platforms. All content is provided on an "as is" basis.</li>
                </ol>
                <h5>Liability</h5>
                <ol start="30" type="1">
                    <li>If you are a consumer for the purposes of the Australian Consumer Law ("ACL") , you have the benefit of the consumer guarantees and other non-excludable rights set out in the ACL. Subject to those consumer guarantees and non-excludable rights, to the extent permitted by law, all representations, warranties and conditions of any kind, implied by statute, general law or custom relating to our goods/services are excluded.</li>
                    <li>To the extent permitted by law, (including the provisions of the ACL in relation to "major failures"), our liability for breach of any consumer guarantees and non-excludable rights is limited at our option to any one or more of the following:
                        <ol type="a">
                            <li>in the case of goods - the repair of the goods, the replacement of the goods or the supply of equivalent goods or to the payment of the costs of repair, replacement or supply of equivalent goods; and</li>
                            <li>in the case of advice, recommendations, information or services, by supplying the advice, recommendations, information or services again, or by paying the cost of supplying the advice, recommendations, information services again.</li>
                        </ol>
                    </li>
                </ol>
                <h5>General</h5>
                <ol start="32" type="1">
                    <li>These terms and conditions are governed by the laws in force in New South Wales. Both we and you irrevocably agree to submit to the non-exclusive jurisdiction of the Courts of that State.</li>
                </ol>
            </div>
        </div>
    </div>
</main>