<main *ngIf="(video$ | async); let video;" class="page article">
    <div class="content-container">
        <div *ngIf="video.Images !== undefined && video.Images.length > 0" class="media-container">
            <app-video-player #videoPlayer 
            [videoID]="'videoPage'" [video$]="video$"
            [showControls]="true" [autoplay]="false" [loops]="false"
            ></app-video-player>
            <button class="btn btn-join gtm-join-video" data-toggle="modal" data-target="#SubscribeModal">Join Drool</button>
        </div>
        <div class="copy-container" [innerHTML]="
            '<h1>' + video.Title + '</h1>' + 
            '<p>' + video.DisplayDate + '</p>' +
            video.Body
        ">
        </div>
        <app-sharewidgets class="share-icon-container"></app-sharewidgets>
    </div>
    <div class="content-list-container" >
        <app-content-list 
            [listType]="'video'" [contentList$]="contentList$"
            [loadAction]="loadAction" [appendAction]="appendAction" 
        ></app-content-list>        
    </div>
</main>