<main class="page section">
    <app-content-list 
        [listType]="'article-l'" [listTitle]="'Articles'" [contentList$]="contentList$"
        [loadAction]="loadAction" [appendAction]="appendAction"
    ></app-content-list>
</main>