<div #modal class="modal fade" id="{{modalID}}" tabindex="-1" role="dialog" [attr.aria-labelledby]="modalID+'Label'" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <h1>Join Drool</h1>
                <p>If you are short on time but you'd like to hear from me from time to time join my mailing list to receive regular wrap-ups of my daily drips.</p>
                <app-mailchimp-subscribe-form></app-mailchimp-subscribe-form>
            </div>
        </div>
    </div>
</div>