<div class="custom-file">
    <input type="file" class="custom-file-input" (change)="onAttached($event.target.files)">
    <label class="custom-file-label" for="customFile">
        <span>{{placeholder}}</span>
        <div #imgWrapper class="img-container" style="display: none;">
            <img src="">
        </div>
    </label>
</div>