<main class="page section">
        <app-content-list 
        [listType]="'gallery-l'" [listTitle]="'Galleries'" [contentList$]="contentList$"
        [loadAction]="loadAction" [appendAction]="appendAction"
    ></app-content-list>
</main>
