<div *ngIf="!(registered$ | async)">
	<main class="page information">
		<div class="container-fluid page-container">
			<div class="row">
				<div class="col-12 page-heading">
					<div class="heading-container">
						<h1>Register</h1>
						<span class="divider-h"></span>
					</div>
					<p>Complete the form below to register with Drool. However, if you are short on time but want to hear from Dr. Chris Brown, <a data-toggle="modal" class="gtm-join-register" data-target="#SubscribeModal">join our mailing list</a>.</p>
				</div>
				<div class="col-12 content-container">
					<form class="register-form">
						<h4>Your details</h4>
						<div class="row">
							<div class="form-group col-12 col-sm-6 col-lg-4">
								<app-freetext (keyUp)="setFirstName($event)" [placeholder]="'Enter first name'" ></app-freetext>
							</div>
							<div class="form-group col-12 col-sm-6 col-lg-4">
								<app-freetext (keyUp)="setLastName($event)" [placeholder]="'Enter last name'" ></app-freetext>
							</div>
							<div class="form-group form-group-dropdown col-12 col-sm-6 col-lg-4">
								<app-dropdown (selected)="setGender($event)"
									[disabledOption]="'Select your gender'"
									[selectables]="[['Male','Female']]"
									[type]="0"
								></app-dropdown>
							</div>
							<div class="form-group form-group-date col-12 col-sm-6 col-lg-4">
								<app-datepicker (selected)="setDoB($event)" [placeholder]="'Select date of birth'" #dob></app-datepicker>
							</div>
							<div class="form-group hide-number-counter col-12 col-sm-6 col-lg-4">
								<app-numeric (keyUp)="setMobile($event)" [placeholder]="'Enter mobile'"></app-numeric>
							</div>
							<div class="form-group col-12 col-sm-6 col-lg-4">
								<app-email (keyUp)="setEmail($event)" [placeholder]="'Enter email (required)'"></app-email>
							</div>
							<div class="form-group form-group-autocomplete col-12">
								<app-full-addr (selected)="setAddress($event)" [placeholder]="'Enter street address'"></app-full-addr>
							</div>
						</div>
						<h4>Your pets details</h4>
						<div *ngFor="let pet of pets$ | async; let i = index" >
							<app-pet-details [index]="i"></app-pet-details>
						</div>
						<app-btn [classes]="'btn btn-link btn-duplicate'" [placeholder]="'Add another pet'" (click)='addAnotherPet()'></app-btn>
						<p class="disclaimer">By registering your pet/s you agree to the <a [routerLink]='["/terms"]'>Terms &amp; Conditions</a> and agree to receive correspondence from Drool.pet and related entities in alignment with our <a [routerLink]='["/privacy"]'>Privacy Policy</a>.</p>
						
						<app-btn *ngIf="isValid$" [classes]="'btn btn-primary btn-lg btn-single btn-submit gtm-register-submit'" [placeholder]="'Register your pet'" (click)='submit()'></app-btn>
						<app-btn *ngIf="!isValid$" [classes]="'btn btn-primary btn-lg btn-single btn-submit gtm-register-submit disabled'" [placeholder]="'Register your pet'" (click)='displayInvalidMessage()'></app-btn>
						<app-snack-bar #snackBar></app-snack-bar>
					</form>
				</div>
			</div>
		</div>
	</main>
</div>
<div *ngIf="(registered$ | async)">
	<app-register-success></app-register-success>
</div>