<div class="row mb-4">
    <div class="col-12 col-md-6 col-lg-8">
        <div class="row">
            <div class="form-group col-12 col-sm-6 col-md-12">
                <app-radio (selected)="setPetType($event)" [selectables]="['Dog','Cat']" [index]="index" ></app-radio>
            </div>
            <div class="form-group col-12 col-sm-6 col-md-12 col-lg-6">
                <app-freetext (keyUp)="setName($event)" [placeholder]="'Enter pets name'"></app-freetext>
            </div>
            <div class="form-group form-group-autocomplete col-12 col-sm-6 col-md-12 col-lg-6">
                <app-breed #breed (selected)="setBreed($event)" [placeholder]="'Enter breed'"></app-breed>
            </div>
            <div class="form-group form-group-dropdown col-12 col-sm-6 col-md-12 col-lg-6">
                <app-dropdown #bloodType (selected)="setBloodType($event)"
                    [disabledOption]="'Select blood type (Optional)'"
                    [selectables]="[['DEA 1.1', 'DEA 1.2', 'DEA 3', 'DEA 4', 'DEA 5', 'DEA 6', 'DEA 7', 'DEA 8', 'Dal', 'Kai-1', 'Kai-2'], ['A', 'B', 'AB']]"
                    [type]="0"
                ></app-dropdown>
            </div>
            <div class="form-group form-group-dropdown col-12 col-sm-6 col-md-12 col-lg-6">
                <app-dropdown (selected)="setPetSize($event)"
                    [disabledOption]="'Select pet size'"
                    [selectables]="[['Toy','Small', 'Medium', 'Large', 'X-Large']]"
                    [type]="0"
                ></app-dropdown>
            </div>
            <div class="form-group form-group-dropdown col-12 col-sm-6 col-md-12 col-lg-6">
                <app-dropdown (selected)="setPetActivityLevel($event)"
                    [disabledOption]="'Select activity level'"
                    [selectables]="[['Extremely Inactive','Sedentary', 'Moderately active', 'Vigorously active', 'Extremely active']]"
                    [type]="0"
                ></app-dropdown>
            </div>
            <div class="form-group form-group-weight hide-number-counter col-12 col-sm-6 col-md-12 col-lg-6">
                <app-numeric (keyUp)="setWeight($event)" [placeholder]="'Estimate weight'"></app-numeric>
            </div>
            <div class="form-group form-group-dropdown col-12 col-sm-6 col-md-12 col-lg-6">
                <app-dropdown (selected)="setPetGender($event)"
                    [disabledOption]="'Select pets gender'"
                    [selectables]="[['Male','Female']]"
                    [type]="0"
                ></app-dropdown>
            </div>
            <div class="form-group form-group-dropdown hide-number-counter form-group-age col-12 col-lg-6">
                <app-numeric (keyUp)="setAge($event)" class="form-group-dual" [placeholder]="'Enter pets age'"></app-numeric>
                <app-dropdown (selected)="setAgeUnit($event)" class="form-group-dual" 
                    [disabledOption]="'Select pets age'"
                    [selectables]="[['Months','Years']]"
                    [type]="0"
                ></app-dropdown>
            </div>
        </div>
    </div>
    <div class="col-12 col-md-6 col-lg-4">
        <p class="d-none d-lg-block">Add a photo of your pet</p>
		<p class="d-lg-none">Take a photo of your pet</p>
        <app-fileupload (attached)="setPhoto($event)" [placeholder]="'Select an image'" ></app-fileupload>
    </div>
</div>