<div class={{containerClasses}} appContentListDirective (contentScroll)="injectContent($event)">
    <div class="row">
        <!-- Start: Listing Heading -->
        <div *ngIf="listType !== undefined && listType.indexOf('-l') > 0" class="col-12 page-heading">
            <div class="heading-container">
                <h1>{{listTitle}}</h1>
                <span class="divider-h"></span>
            </div>
            <div *ngIf="listType !== 'gallery-l'" class="filter-container">
                <div class="btn-group" role="group" aria-label="button-toggle">
                    <button (click)="toggleFilter('dog')" type="button" class="btn fd-icon fd-drool-dog {{ dogSelected ? 'active' : '' }}" data-toggle="button" aria-pressed="dogSelected ? 'true' : 'false'" autocomplete="off"></button>
                    <button (click)="toggleFilter('cat')" type="button" class="btn fd-icon fd-drool-cat {{ catSelected ? 'active' : '' }}" data-toggle="button" aria-pressed="catSelected ? 'true' : 'false'" autocomplete="off"></button>
                    <button (click)="toggleFilter('fun')" type="button" class="btn fd-icon fd-drool-heart {{ funSelected ? 'active' : '' }}" data-toggle="button" aria-pressed="funSelected ? 'true' : 'false'" autocomplete="off"></button>
                </div>
            </div>
        </div>
        <!-- End: Section Heading -->
        
        <!-- Start: Article Page Heading -->
        <div *ngIf="listType == 'article'" class="col-12 list-heading">
            <h2>More Articles</h2>
            <div class="btn-wrapper"><button class="btn btn-outline-primary btn-sm" [routerLink]='["/articles"]'>All Articles</button></div>
        </div>
        <!-- End: Article Page Heading -->
        
        <!-- Start: Video Page Heading -->
        <div *ngIf="listType == 'video'" class="col-12 list-heading">
            <!-- Change back to Up Next once auto play is setup -->
            <h2>More Videos</h2>
            <!-- To be switched back on one auto play is setup
            <div class="btn-wrapper auto-play">
                <button type="button" class="btn btn-toggle active" data-toggle="button" aria-pressed="false" autocomplete="off"><div class="handle"></div></button>
            </div>
            -->
        </div>
        <!-- End: Video Page Heading -->
        
        <!-- Start: Gallery Page Heading -->
        <div *ngIf="listType == 'gallery'" class="col-12 list-heading">
            <h2>More Galleries</h2>
            <div class="btn-wrapper"><button class="btn btn-outline-primary btn-sm" [routerLink]='["/galleries"]'>All Galleries</button></div>
        </div>
        <!-- End: Gallery Page Heading -->
        
        <div class="loadingContainer" *ngIf="!(isLoading$ | async)">
            <!-- Start: Homepage Heading -->
            <article *ngIf="listType == 'homepage'" class="col-12 col-sm-6 col-lg-4 col-xl-3 hp-article-list-heading">
                <span class="divider-h"></span>
                <h1>Recent Articles</h1>
            </article>
            <!-- End: Homepage Heading -->

            <article *ngFor="let content of (contentList$ | async); let i = index" class="{{'col-12 col-sm-6 col-lg-4 col-xl-3 list-item' + (content.IsInfinityTrigger ? ' infinity-trigger' : '')}}">
                <a [className]="'link ' + content.Type + '-link'" [routerLink]='["/"+ content.Url]'>
                    <div *ngIf="content.Images !== undefined && content.Images.length > 0" class="img-container"><img [className]="content.Images[0].Orientation" src="{{ blobURL + content.Images[0].Url}}" alt="" /></div>
                    <div class="copy-container">
                        <h3 [innerHTML]="content.Title"></h3>
                    </div>
                </a>
            </article>

            <!-- Start: Homepage Link -->
            <article *ngIf="listType == 'homepage'" class="col-12 col-sm-6 col-lg-4 col-xl-3 hp-article-list-link">
                <a class="section-link" [routerLink]='["/articles"]'><i class="read-more-icon far fa-arrow-alt-circle-right"></i></a>
            </article>
            <!-- End: Homepage Link -->
        </div>
        <div *ngIf="(isLoading$ | async)" class="loader">
            <div class="drool-loader"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
        
    </div>
</div>
